  
  <!--<div id="ascrail2000" class="nicescroll-rails" style="width: 3px; z-index: auto; background: rgb(64, 64, 64); cursor: default; position: fixed; top: 0px; left: 207px; height: 640px; opacity: 0; display: block;">
    <div style="position: relative; top: 250px; float: right; width: 3px; height: 390px; background-color: rgb(78, 205, 196); background-clip: padding-box; border-radius: 10px;"></div></div>
  <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; background: rgb(64, 64, 64); top: 637px; left: 0px; position: fixed; cursor: default; display: none; width: 207px; opacity: 0;"><div style="position: relative; top: 0px; height: 3px; width: 210px; background-color: rgb(78, 205, 196); background-clip: padding-box; border-radius: 10px; left: 0px;"></div></div>-->
  <!--sidebar start-->
  <aside>
    
    <div id="sidebar" class="nav-collapse nicescroll-rails" tabindex="5000" style="overflow-y: scroll;">
      
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
        <h5 class="centered">Sam Soffes</h5>
        <li class="mt">
          <a class="active" href="index.html">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            </a>
        </li>
        
        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span>Employes</span>
            <span class="dcjq-icon"></span></a>
          <ul class="sub" style="display: block;">
            <li><a routerLink ="listEmployes">liste des employés</a></li>
            <li><a routerLink ="addEmploye" >Ajouter un employé</a></li>
          </ul>
        </li>

        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span routerLink ="notesInternes">Notes internes</span>
            <span class="dcjq-icon"></span></a>
    
        </li>

        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span routerLink ="recrutement">Recrutement</span>
            <span class="dcjq-icon"></span></a>
    
        </li>

        
        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span>Congés</span>
            <span class="dcjq-icon"></span></a>
          <ul class="sub" style="display: block;">
            <li><a routerLink ="congeCalendar">calendrier congés</a></li>
            <li><a routerLink ="demandeConge" >Demande congé</a></li>
          </ul>
        </li>

        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span routerLink ="todoList">Todo List</span>
            <span class="dcjq-icon"></span></a>
    
        </li>


        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span routerLink ="caisse">Caisse</span>
            <span class="dcjq-icon"></span></a>
    
        </li>

        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span routerLink ="timetracking">Time tracking</span>
            <span class="dcjq-icon"></span></a>
    
        </li>
        

        

        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span routerLink ="congeComponent">Conge</span>
            <span class="dcjq-icon"></span></a>
    
        </li>
        
        

        

        

        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-desktop"></i>
            <span routerLink ="profilEmploye/:id">Profil employé</span>
            <span class="dcjq-icon"></span></a>
    
        </li>

        

        
        
        
        
        
        
        
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
