
<div _ngcontent-roy-c3="" class="card-header text-light bg-secondary" style="margin-top: 3%;"> Todo List </div>
    <div _ngcontent-roy-c3="" class="card-body bg-light">
        
        <br _ngcontent-roy-c3="">
        
        <button _ngcontent-roy-c3="" 
                class="btn btn-info"
                style="margin-left: 35%; width: 30%;"
                 type="submit"
                (click)="onAddTodo()">Ajouter une tache à faire</button>
        <br><br><br>

        <div style="margin:5px 0px">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let todo of todos">
                    <span class="hover-cursor" [class.text-success]="todo.completed">
                        <i class="fa fa-lg" [ngClass]="todo.completed?'fa-check-circle-o':'fa-circle-thin'"></i> 
                    </span>
                    {{todo.title}}  
                    <span class="hover-cursor text-danger pull-right">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </span>
                </li>
            </ul>
        </div>
        <!-- <div class="row justify-content-center">
            <div class="col-md-10">
        <table class="table table-striped card-body text" style="padding-left:50%;padding-right:10%">
        
            <thead >
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos" >
                    <td>{{todo.title}}</td>
                    <td>{{todo.description}}</td>
                    
                    <td>
                        <div class="pull-right hidden-phone" >
                            <button class="btn btn-primary btn-xs" (click)="onEdit(row)"><i class="fa fa-pencil"></i></button> 
                        <button class="btn btn-danger btn-xs" (click)="deleteTodo(todo)"><i class="fa fa-trash-o "></i></button>
                        </div>
                   
                    </td>
        
                   
                </tr>
            </tbody>
          </table>
          </div>
        </div>-->
</div>


